<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular-route.js"></script>
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular-cookies.js"></script>
    <script src="static/js/app.js"></script>
    <style>
    .row{
      padding-top: 10px;
    }

    .preview{
      height: 100px;
      width: 100px;
    }
    .thumb{
      height: 48px;
      width: 48px;
    }
    </style>
  </head>

  <body class="container" ng-app="wishListApp">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav"> 
          <li ng-hide="$root.loggedIn"><a ng-href="#/login">Login</a></li>
          <li ng-show="$root.loggedIn"><a href="">Hello, {{$root.currentUserName}}</a></li>
          <li ng-show="$root.loggedIn"><a href=""><span ng-click="$root.getMyWishlist()">My Wishlist</span></a></li>
          <li><a ng-href="#/friends">Friends</a></li>
          <li ng-show="$root.loggedIn"><a href=""><span ng-click="$root.logout()">Logout</span></a></li>
          <li ng-hide="$root.loggedIn"><a ng-href="#/signup">Sign Up</a></li>
        </ul>
      </div>
    </nav>
    <ng-view></ng-view>
  </body>
</html>
