<!DOCTYPE html>
<html>
  <head>
    <script src = "static/js/bower_components/jquery/dist/jquery.min.js"></script>
    <script src = "static/js/bower_components/angular/angular.min.js"></script>
    <link rel="stylesheet" href="static/js/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <script src= "static/js/bower_components/angular-route/angular-route.min.js"></script>
    <script src= "static/js/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="static/js/app.js"></script>
    <style>
    .row{
      padding-top: 10px;
    }

    .preview{
      height: 100px;
      width: 100px;
    }
    .thumb{
      height: 48px;
      width: 48px;
    }
    </style>
  </head>

  <body class="container" ng-app="wishListApp">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav"> 
          <li ng-hide="$root.loggedIn"><a ng-href="#/login">Login</a></li>
          <li ng-show="$root.loggedIn"><a href="">Hello, {{$root.currentUserName}}</a></li>
          <li ng-show="$root.loggedIn"><a href=""><span ng-click="$root.getMyWishlist()">My Wishlist</span></a></li>
          <li><a ng-href="#/friends">Friends</a></li>
          <li ng-show="$root.loggedIn"><a href=""><span ng-click="$root.logout()">Logout</span></a></li>
          <li ng-hide="$root.loggedIn"><a ng-href="#/signup">Sign Up</a></li>
        </ul>
      </div>
    </nav>
    <ng-view></ng-view>
  </body>
</html>
